VITE_SUPABASE_URL=https://kmujmjonirptpgsvfyqx.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImttdWptam9uaXJwdHBnc3ZmeXF4Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzM1MTg5ODMsImV4cCI6MjA4OTA5NDk4M30.CCewGYbXTCfl9yz3ow433IaQclaQWfXMJ1hOS8qgO84

